/* هنا اشتغل بالfixd-top انا غيرتها و اشتغلت بال staky-top  */
/* body::before{
    content: "";
    display: block;
    height:75px;
} */
.navbar ul{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.navbar ul li{
    margin-left: 20px;
}


@media (max-width:767px) {
    news-input{
        width: 50%; 
    }
}
.map{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 20px;
}